@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html {
 margin: 0px;
 padding: 0px;
}

body {
 padding: 0px;
 margin: 0px;
 background-color: #2D2D30;
 border: 1px solid #2196f3;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
}

.daimage {
  margin: auto;
  width: 75%;
}

.block {
  display:inline-block;
}

.notification {
  position: relative;
  top: -4px;
  margin-left: 20px;
}

.space-left {
  margin-left: 20px;
}


#title-bar {
 -webkit-app-region: drag;
 height: 32px;
 padding: 0px;
 margin: 0px;
 color: #ADADAD;
 font-family: sans-serif;
}

#title {
 position: fixed;
 top: 0px;
 left: 12px;
 line-height: 32px;
 font-size: 14px;
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 1px;
 right: 0px;
}

#title-bar-btns button {
 height: 32px;
 width: 32px;
 background-color: transparent;
 border: none;
 color: #F1F1F1;
 font-size: 16px;
}

#title-bar-btns button:hover {
 background-color: #3F3F41;
}

#content {
 padding: 12px;
 color: #CCCCCC;
}

a {
  color: #68217A;
}

/*toggle buttons*/
.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #2196F3;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
